Part 1: Basic Exploration

Step 1: Load the Data
- Import Pandas, NumPy, and Matplotlib.
- Load the dataset: LasVegasTripAdvisorReviews-Dataset.csv.

In [1]:
#import necessary libraries to work with the data

import pandas as pd
import numpy as np
import matplotlib

In [2]:
#load the data set
#ensure all columns appear
pd.set_option("display.max_columns", None)

hotel_data = pd.read_csv("LasVegasTripAdvisorReviews-Dataset.csv", sep=';')

hotel_data.head()

,User country,Nr. reviews,Nr. hotel reviews,Helpful votes,Score,Period of stay,Traveler type,Pool,Gym,Tennis court,Spa,status,Casino,Free internet,Hotel name,Unnamed: 15,Hotel stars,Nr. rooms,User continent,Member years,Review month,Review weekday
0,USA,11.0,4.0,13.0,5.0,Dec-Feb,Friends,NO,YES,NO,NO,yes,YES,YES,Circus Circus Hotel & Casino Las Vegas,NaN,3,3773.0,North America,9.0,January,Thursday
1,USA,119.0,21.0,75.0,3.0,Dec-Feb,Business,NO,YES,NO,NO,no,YES,YES,Circus Circus Hotel & Casino Las Vegas,NaN,3,3773.0,North America,3.0,January,Friday
2,USA,36.0,9.0,25.0,5.0,Mar-May,Families,NO,YES,NO,NO,yes,YES,YES,Circus Circus Hotel & Casino Las Vegas,NaN,3,3773.0,North America,2.0,February,Saturday
3,UK,14.0,7.0,14.0,4.0,Mar-May,Friends,NO,YES,NO,NO,no,YES,YES,Circus Circus Hotel & Casino Las Vegas,NaN,3,3773.0,Europe,6.0,February,Friday
4,Canada,5.0,5.0,2.0,4.0,Mar-May,Solo,NO,YES,NO,NO,yes,YES,YES,Circus Circus Hotel & Casino Las Vegas,NaN,3,3773.0,North America,7.0,March,Tuesday

Step 2: Data Cleaning
- Deal with missing rows, and columns.
- Before analysis, verify that dataset is clean

In [10]:
# deal with missing rows and columns
#check the sum of missing values for each column
print(hotel_data.isna().sum())
#in general there are 35 rows with missing data, and the columns status and unnamed don't have any values

#remove rows with missing values and empty columns
hotel_data_cleaned = hotel_data.drop(columns=['status', 'Unnamed: 15'])
hotel_data_cleaned = hotel_data_cleaned.dropna()
# verify that dataset is clean
hotel_data_cleaned.isna().sum()

User country          35
Nr. reviews           35
Nr. hotel reviews     35
Helpful votes         35
Score                 48
Period of stay        45
Traveler type         35
Pool                  35
Gym                   35
Tennis court          35
Spa                   51
status               526
Casino                35
Free internet         35
Hotel name            35
Unnamed: 15          539
Hotel stars           35
Nr. rooms             35
User continent        35
Member years          35
Review month          35
Review weekday        35
dtype: int64

User country         0
Nr. reviews          0
Nr. hotel reviews    0
Helpful votes        0
Score                0
Period of stay       0
Traveler type        0
Pool                 0
Gym                  0
Tennis court         0
Spa                  0
Casino               0
Free internet        0
Hotel name           0
Hotel stars          0
Nr. rooms            0
User continent       0
Member years         0
Review month         0
Review weekday       0
dtype: int64

Step 3: Explore the Structure
- How many rows and columns does the dataset have?
- View the first few rows.
- List column names and their data types.
- Check for missing values.

In [38]:
#count the number of rows and columns
print(hotel_data_cleaned.shape)
#indicates that there are 465 rows and 20 columns - started with 539 rows but removed those with NAs

#view the first few rows
hotel_data_cleaned.head()
#list column names and data types
print(hotel_data_cleaned.dtypes)
#there are two data types, object and float64

#convert Hotel stars from object to float (bceause there are decimal values like 4.5)
#first check that all values in Hotel stars column can be converted to float
print(hotel_data_cleaned['Hotel stars'].unique())
#4,5 and 3,5 must be changed to 4.5 and 3.5 to convert to float
hotel_data_cleaned['Hotel stars'] = hotel_data_cleaned['Hotel stars'].str.replace(',', '.').astype(float)
#verify conversion
print(hotel_data_cleaned.dtypes)

#check for missing values
print(hotel_data_cleaned.isna().sum())
#there are no missing values

(464, 20)
User country          object
Nr. reviews          float64
Nr. hotel reviews    float64
Helpful votes        float64
Score                float64
Period of stay        object
Traveler type         object
Pool                  object
Gym                   object
Tennis court          object
Spa                   object
Casino                object
Free internet         object
Hotel name            object
Hotel stars           object
Nr. rooms            float64
User continent        object
Member years         float64
Review month          object
Review weekday        object
dtype: object
['3' '4' '5' '4,5' '3,5']
User country          object
Nr. reviews          float64
Nr. hotel reviews    float64
Helpful votes        float64
Score                float64
Period of stay        object
Traveler type         object
Pool                  object
Gym                   object
Tennis court          object
Spa                   object
Casino                object
Free internet         object
Hotel name            object
Hotel stars          float64
Nr. rooms            float64
User continent        object
Member years         float64
Review month          object
Review weekday        object
dtype: object
User country         0
Nr. reviews          0
Nr. hotel reviews    0
Helpful votes        0
Score                0
Period of stay       0
Traveler type        0
Pool                 0
Gym                  0
Tennis court         0
Spa                  0
Casino               0
Free internet        0
Hotel name           0
Hotel stars          0
Nr. rooms            0
User continent       0
Member years         0
Review month         0
Review weekday       0
dtype: int64

Step 4: Understand the Categorical Info
- How many unique hotel names are in the dataset?
- What traveler types are represented?
- What does each column describe?

In [39]:
#check for unique hotel names in the data set
print(hotel_data_cleaned['Hotel name'].nunique())
#there are 21 unique hotel names in the data set
#view the unique hotel names
print(hotel_data_cleaned['Hotel name'].unique())
#verified that there are 21 unique hotel names and they are not misspellings

21
['Circus Circus Hotel & Casino Las Vegas' 'Excalibur Hotel & Casino'
 'Monte Carlo Resort&Casino' 'Treasure Island- TI Hotel & Casino'
 'Tropicana Las Vegas - A Double Tree by Hilton Hotel' 'Caesars Palace'
 'The Cosmopolitan Las Vegas' 'The Palazzo Resort Hotel Casino'
 'Wynn Las Vegas' 'Trump International Hotel Las Vegas' 'The Cromwell'
 'Encore at wynn Las Vegas' 'Hilton Grand Vacations on the Boulevard'
 "Marriott's Grand Chateau" 'Tuscany Las Vegas Suites & Casino'
 'Hilton Grand Vacations at the Flamingo' 'Wyndham Grand Desert'
 'The Venetian Las Vegas Hotel' 'Bellagio Las Vegas' 'Paris Las Vegas'
 'The Westin las Vegas Hotel Casino & Spa']

In [ ]:
#checking traveler types and values for each in dataset
print(hotel_data_cleaned['Traveler type'].value_counts())
#there are 5 traveller types: couples, families, friends, business, and solo
#

Traveler type
Couples     197
Families    100
Friends      77
Business     69
Solo         22
Name: count, dtype: int64

In [40]:
#get an overview of the data provided by each column
for column in hotel_data_cleaned.columns:
    print(f"{column}: {hotel_data_cleaned[column].describe()}\n")

# User country tells us where the user is from 
# nr. reviews indicates how many reviews the user has written on TripAdvisor 
# Nr. hotel reviews indicates how many reviews the user has written for hotels on TripAdvisor
    # since the minimum is 0, i assume some users have only written reviews for other types of businesses on TripAdvisor and this is their first hotel review which is not counted
# Helpful votes indicates how many helpful votes the user has received on their reviews
# Score indicates the rating the user has given the hotel (1-5)
# period of stay indicates a 3 month period within which the user stayed at the hotel
# traveler type indicates the type of traveler (couple, family, solo, business, friends)
# pool indicates whether the hotel has a pool or not (YES or NO)
# gym indicates whether the hotel has a gym or not (YES or NO)
# tennis court indicates whether the hotel has a tennis court or not (YES or NO)
# spa indicates whether the hotel has a spa or not (YES or NO)
# casino indicates whether the hotel has a casino or not (YES or NO)
# free internet indicates whether the hotel has free internet or not (YES or NO)
# hotel name indicates the name of the hotel
# hotel starts indicates the star rating of the hotel (1-5)
# Nr. rooms indicates the number of rooms in the hotel
# User continent indicates the continent the user is from
# member years indicates how many years the user has been a member of TripAdvisor
    #minimum member years is -1806 which cannot be true, likely a data entry error
# review month indicates the month the review was written
# review weekday indicates the day of the week the review was written

User country: count     464
unique     43
top       USA
freq      198
Name: User country, dtype: object

Nr. reviews: count    464.000000
mean      48.002155
std       75.138820
min        1.000000
25%       12.000000
50%       24.000000
75%       55.250000
max      775.000000
Name: Nr. reviews, dtype: float64

Nr. hotel reviews: count    464.000000
mean      15.340517
std       18.495940
min        0.000000
25%        5.000000
50%        9.000000
75%       18.000000
max      162.000000
Name: Nr. hotel reviews, dtype: float64

Helpful votes: count    464.000000
mean      31.616379
std       46.888216
min        0.000000
25%        8.000000
50%       16.000000
75%       35.250000
max      365.000000
Name: Helpful votes, dtype: float64

Score: count    464.000000
mean       4.133621
std        1.009368
min        1.000000
25%        4.000000
50%        4.000000
75%        5.000000
max        5.000000
Name: Score, dtype: float64

Period of stay: count         464
unique          4
top       Sep-Nov
freq          118
Name: Period of stay, dtype: object

Traveler type: count         464
unique          5
top       Couples
freq          197
Name: Traveler type, dtype: object

Pool: count     464
unique      2
top       YES
freq      442
Name: Pool, dtype: object

Gym: count     464
unique      2
top       YES
freq      440
Name: Gym, dtype: object

Tennis court: count     464
unique      2
top        NO
freq      353
Name: Tennis court, dtype: object

Spa: count     464
unique      2
top       YES
freq      352
Name: Spa, dtype: object

Casino: count     464
unique      2
top       YES
freq      419
Name: Casino, dtype: object

Free internet: count     464
unique      2
top       YES
freq      444
Name: Free internet, dtype: object

Hotel name: count                464
unique                21
top       Wynn Las Vegas
freq                  24
Name: Hotel name, dtype: object

Hotel stars: count    464.000000
mean       4.163793
std        0.782574
min        3.000000
25%        3.500000
50%        4.000000
75%        5.000000
max        5.000000
Name: Hotel stars, dtype: float64

Nr. rooms: count     464.000000
mean     2210.002155
std      1294.192909
min       188.000000
25%       826.000000
50%      2700.000000
75%      3025.000000
max      4027.000000
Name: Nr. rooms, dtype: float64

User continent: count               464
unique                6
top       North America
freq                269
Name: User continent, dtype: object

Member years: count    464.00000
mean       4.37931
std        2.93237
min        0.00000
25%        2.00000
50%        4.00000
75%        6.25000
max       13.00000
Name: Member years, dtype: float64

Review month: count          464
unique          12
top       February
freq            40
Name: Review month, dtype: object

Review weekday: count           464
unique            7
top       Wednesday
freq             78
Name: Review weekday, dtype: object

In [41]:
#see all values for each column
for column in hotel_data_cleaned.columns:
    print(f"{column}: {hotel_data_cleaned[column].unique()}\n")

User country: ['USA' 'UK' 'Canada' 'India' 'Australia' 'New Zeland' 'Ireland' 'Egypt'
 'Finland' 'Kenya' 'Jordan' 'Netherlands' 'Syria' 'Scotland' 'Switzerland'
 'United Arab Emirates' 'Hungary' 'China' 'Greece' 'Mexico' 'Croatia'
 'Germany' 'Malaysia' 'Thailand' 'Phillippines' 'Israel' 'Belgium'
 'Puerto Rico' 'Norway' 'France' 'Spain' 'Singapore' 'Brazil' 'Costa Rica'
 'Iran' 'Saudi Arabia' 'Honduras' 'Taiwan' 'Kuwait' 'Czech Republic'
 'Japan' 'Korea' 'Italy']

Nr. reviews: [ 11. 119.  36.  14.   5.  31.  45.   2.  24.  12. 102.  20.  22.   3.
 146.   8.  41.  10.   4.  18.  29. 114.  30.  87.  26.  56.  13.  58.
  70.   6.  47.  35.  74.  34. 576. 418.  73.  63.   7.   9.  33. 156.
  19.   1.  21.  43.  15.  16.  27.  97.  78.  79.  88.  39. 130.  50.
 161. 153.  46.  17.  25.  59.  54.  23.  48. 127. 113. 103.  28.  32.
  37.  66.  57.  42.  75.  52.  93. 252. 164. 125.  67.  40. 142.  69.
  49. 775.  38. 136. 110.  53. 320. 235. 184. 262.  92. 131. 148. 139.
 333.  85. 169.  60. 106. 112. 160. 372.  84. 118. 275.  62. 159.  86.
  64. 167. 608. 108.  55.  65.  61.  82. 116. 415.  76. 182. 289. 101.
  83.  95.  44.  77. 121. 123. 189.  96.]

Nr. hotel reviews: [  4.  21.   9.   7.   5.   8.  12.   1.   3.  24.  17.  11.  42.  18.
  10.  27.   6.   0.  47.  43.  32.  13.  15.  19. 126.  14.  31.  16.
  39.  41.  78.  33.  38.  22.  56.  40.  23.  30.  20.  48.  25.  55.
  35.  46.  58.  52.  45. 111.  75.  61.  49.  37.  34. 107.  79.  71.
 117.  44. 162.  28.  26.  72.]

Helpful votes: [ 13.  75.  25.  14.   2.  27.  46.   4.   8.  11.  58.  24.   0.  33.
   9.  19.  26.   3.  15.  52.  17.  36.  28.   7.  21.  59.  54.  30.
 340. 132.  22.  32. 142.  16.   6. 167.  20.   5.  37.   1.  48.  51.
 103.  31.  61. 105.  85.  81.  12.  10.  29.  39.  35.  43.  67.  80.
  74.  55.  18.  56.  98.  45.  60.  71.  93.  78. 113.  82. 365.  99.
  41.  23. 255.  76. 102.  70. 267.  53. 150. 116.  87.  86. 200.  68.
  42.  38.  88. 169. 131. 339. 119. 319.  34. 134.  72. 265.  47. 133.
 206. 111.  49.  65.  63. 129. 161. 112.]

Score: [5. 3. 4. 2. 1.]

Period of stay: ['Dec-Feb' 'Mar-May' 'Jun-Aug' 'Sep-Nov']

Traveler type: ['Friends' 'Business' 'Families' 'Solo' 'Couples']

Pool: ['NO' 'YES']

Gym: ['YES' 'NO']

Tennis court: ['NO' 'YES']

Spa: ['NO' 'YES']

Casino: ['YES' 'NO']

Free internet: ['YES' 'NO']

Hotel name: ['Circus Circus Hotel & Casino Las Vegas' 'Excalibur Hotel & Casino'
 'Monte Carlo Resort&Casino' 'Treasure Island- TI Hotel & Casino'
 'Tropicana Las Vegas - A Double Tree by Hilton Hotel' 'Caesars Palace'
 'The Cosmopolitan Las Vegas' 'The Palazzo Resort Hotel Casino'
 'Wynn Las Vegas' 'Trump International Hotel Las Vegas' 'The Cromwell'
 'Encore at wynn Las Vegas' 'Hilton Grand Vacations on the Boulevard'
 "Marriott's Grand Chateau" 'Tuscany Las Vegas Suites & Casino'
 'Hilton Grand Vacations at the Flamingo' 'Wyndham Grand Desert'
 'The Venetian Las Vegas Hotel' 'Bellagio Las Vegas' 'Paris Las Vegas'
 'The Westin las Vegas Hotel Casino & Spa']

Hotel stars: [3.  4.  5.  4.5 3.5]

Nr. rooms: [3773. 3981. 3003. 2884. 1467. 3348. 2959. 3025. 2700. 1282.  188. 2034.
 1228.  732.  716.  315.  787. 4027. 3933. 2916.  826.]

User continent: ['North America' 'Europe' 'Asia' 'Oceania' 'Africa' 'South America']

Member years: [ 9.  3.  2.  6.  7.  4.  0.  5.  1. 10. 11.  8. 12. 13.]

Review month: ['January' 'February' 'March' 'April' 'May' 'June' 'July' 'August'
 'September' 'October' 'November' 'December']

Review weekday: ['Thursday' 'Friday' 'Saturday' 'Tuesday' 'Sunday' 'Wednesday' 'Monday']

In [42]:
# see row with user country as Hawaii
print(hotel_data_cleaned[hotel_data_cleaned['User country'] == 'Hawaii'])
# for country == 'Hawaii', change to USA
hotel_data_cleaned.loc[hotel_data_cleaned['User country'] == 'Hawaii', 'User country'] = 'USA'
# for country == 'Swiss', change to Switzerland
hotel_data_cleaned.loc[hotel_data_cleaned['User country'] == 'Swiss', 'User country'] = 'Switzerland'
# for country == 'India ', change to India
hotel_data_cleaned.loc[hotel_data_cleaned['User country'] == 'India ', 'User country'] = 'India'
# verify changes
print(hotel_data_cleaned['User country'].unique())
#count how many users are from Scotland and Puerto Rico
print(hotel_data_cleaned['User country'].value_counts())

# i am opting to leave Scotland and Puerto Rico as separate countries in the data set

Empty DataFrame
Columns: [User country, Nr. reviews, Nr. hotel reviews, Helpful votes, Score, Period of stay, Traveler type, Pool, Gym, Tennis court, Spa, Casino, Free internet, Hotel name, Hotel stars, Nr. rooms, User continent, Member years, Review month, Review weekday]
Index: []
['USA' 'UK' 'Canada' 'India' 'Australia' 'New Zeland' 'Ireland' 'Egypt'
 'Finland' 'Kenya' 'Jordan' 'Netherlands' 'Syria' 'Scotland' 'Switzerland'
 'United Arab Emirates' 'Hungary' 'China' 'Greece' 'Mexico' 'Croatia'
 'Germany' 'Malaysia' 'Thailand' 'Phillippines' 'Israel' 'Belgium'
 'Puerto Rico' 'Norway' 'France' 'Spain' 'Singapore' 'Brazil' 'Costa Rica'
 'Iran' 'Saudi Arabia' 'Honduras' 'Taiwan' 'Kuwait' 'Czech Republic'
 'Japan' 'Korea' 'Italy']
User country
USA                     198
UK                       66
Canada                   61
Australia                33
Ireland                  13
India                    10
Mexico                    8
Germany                   7
Brazil                    5
Egypt                     5
New Zeland                5
Singapore                 4
Israel                    3
Finland                   3
Norway                    3
Thailand                  3
Malaysia                  3
Netherlands               3
Switzerland               3
Spain                     2
Scotland                  2
United Arab Emirates      2
Costa Rica                2
Jordan                    1
Kenya                     1
Hungary                   1
China                     1
Belgium                   1
Phillippines              1
Croatia                   1
Greece                    1
Syria                     1
Puerto Rico               1
France                    1
Iran                      1
Saudi Arabia              1
Honduras                  1
Taiwan                    1
Kuwait                    1
Czech Republic            1
Japan                     1
Korea                     1
Italy                     1
Name: count, dtype: int64

In [43]:
# clean data entry error in member years column
hotel_data_cleaned = hotel_data_cleaned[hotel_data_cleaned['Member years'] >= 0]
print(hotel_data_cleaned['Member years'].describe())
# minimum member years is now 0 which makes sense, maximum is 13 years

count    464.00000
mean       4.37931
std        2.93237
min        0.00000
25%        2.00000
50%        4.00000
75%        6.25000
max       13.00000
Name: Member years, dtype: float64

In [46]:
#check that both NAs and missing values were removed from the dataset
print(hotel_data_cleaned.isnull().sum())

#checking data after cleaning
for column in hotel_data_cleaned.columns:
    print(f"{column}: {hotel_data_cleaned[column].describe()}\n")

hotel_data_cleaned.head()

User country         0
Nr. reviews          0
Nr. hotel reviews    0
Helpful votes        0
Score                0
Period of stay       0
Traveler type        0
Pool                 0
Gym                  0
Tennis court         0
Spa                  0
Casino               0
Free internet        0
Hotel name           0
Hotel stars          0
Nr. rooms            0
User continent       0
Member years         0
Review month         0
Review weekday       0
dtype: int64
User country: count     464
unique     43
top       USA
freq      198
Name: User country, dtype: object

Nr. reviews: count    464.000000
mean      48.002155
std       75.138820
min        1.000000
25%       12.000000
50%       24.000000
75%       55.250000
max      775.000000
Name: Nr. reviews, dtype: float64

Nr. hotel reviews: count    464.000000
mean      15.340517
std       18.495940
min        0.000000
25%        5.000000
50%        9.000000
75%       18.000000
max      162.000000
Name: Nr. hotel reviews, dtype: float64

Helpful votes: count    464.000000
mean      31.616379
std       46.888216
min        0.000000
25%        8.000000
50%       16.000000
75%       35.250000
max      365.000000
Name: Helpful votes, dtype: float64

Score: count    464.000000
mean       4.133621
std        1.009368
min        1.000000
25%        4.000000
50%        4.000000
75%        5.000000
max        5.000000
Name: Score, dtype: float64

Period of stay: count         464
unique          4
top       Sep-Nov
freq          118
Name: Period of stay, dtype: object

Traveler type: count         464
unique          5
top       Couples
freq          197
Name: Traveler type, dtype: object

Pool: count     464
unique      2
top       YES
freq      442
Name: Pool, dtype: object

Gym: count     464
unique      2
top       YES
freq      440
Name: Gym, dtype: object

Tennis court: count     464
unique      2
top        NO
freq      353
Name: Tennis court, dtype: object

Spa: count     464
unique      2
top       YES
freq      352
Name: Spa, dtype: object

Casino: count     464
unique      2
top       YES
freq      419
Name: Casino, dtype: object

Free internet: count     464
unique      2
top       YES
freq      444
Name: Free internet, dtype: object

Hotel name: count                464
unique                21
top       Wynn Las Vegas
freq                  24
Name: Hotel name, dtype: object

Hotel stars: count    464.000000
mean       4.163793
std        0.782574
min        3.000000
25%        3.500000
50%        4.000000
75%        5.000000
max        5.000000
Name: Hotel stars, dtype: float64

Nr. rooms: count     464.000000
mean     2210.002155
std      1294.192909
min       188.000000
25%       826.000000
50%      2700.000000
75%      3025.000000
max      4027.000000
Name: Nr. rooms, dtype: float64

User continent: count               464
unique                6
top       North America
freq                269
Name: User continent, dtype: object

Member years: count    464.00000
mean       4.37931
std        2.93237
min        0.00000
25%        2.00000
50%        4.00000
75%        6.25000
max       13.00000
Name: Member years, dtype: float64

Review month: count          464
unique          12
top       February
freq            40
Name: Review month, dtype: object

Review weekday: count           464
unique            7
top       Wednesday
freq             78
Name: Review weekday, dtype: object

,User country,Nr. reviews,Nr. hotel reviews,Helpful votes,Score,Period of stay,Traveler type,Pool,Gym,Tennis court,Spa,Casino,Free internet,Hotel name,Hotel stars,Nr. rooms,User continent,Member years,Review month,Review weekday
0,USA,11.0,4.0,13.0,5.0,Dec-Feb,Friends,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3.0,3773.0,North America,9.0,January,Thursday
1,USA,119.0,21.0,75.0,3.0,Dec-Feb,Business,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3.0,3773.0,North America,3.0,January,Friday
2,USA,36.0,9.0,25.0,5.0,Mar-May,Families,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3.0,3773.0,North America,2.0,February,Saturday
3,UK,14.0,7.0,14.0,4.0,Mar-May,Friends,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3.0,3773.0,Europe,6.0,February,Friday
4,Canada,5.0,5.0,2.0,4.0,Mar-May,Solo,NO,YES,NO,NO,YES,YES,Circus Circus Hotel & Casino Las Vegas,3.0,3773.0,North America,7.0,March,Tuesday

In [45]:
#save clean data set to a new csv file for use in analyses
hotel_data_cleaned.to_csv("LasVegasTripAdvisorReviews-Cleaned.csv", index=False)